.navigation-wrapper {
  border: 1px solid blue;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-wrapper nav {
  padding: 0 50px;
}

nav a {
  text-decoration: none;
  font-size: 32px;
}
