.navigation-wrapper {
  border: 1px solid blue;
  height: 80px;
  position: fixed;
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-wrapper nav {
  padding: 0 50px;
}
