.navigation-wrapper {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 99;
  width: 100%;
}

.navigation-wrapper nav {
  padding: 0 50px;
}

nav a {
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: rgb(255, 123, 0);
}
