.cocktailList {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1500px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 0;
}

.cocktailList-item {
  border: 5px solid green;
}

.cocktailList-item img {
  height: 300px;
  object-fit: contain;
}
