.cocktail-component {
  text-align: center;
}

.cocktailImg-wrapper {
  height: 550px;
  width: 550px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: -150px;
  z-index: 999;
  box-shadow: -11px -17px 30px 20px rgba(31, 31, 31, 0.6);
}

.cocktailImg-wrapper img {
  width: 100%;
  height: auto;
}

.cocktail-name {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 38px;
  letter-spacing: 2rem;
}

.recipe-content {
  display: flex;
  margin-top: 100px;
}

.right-content {
  height: 700px;
  flex: 1;
  margin-left: 50px;
  background-color: rgba(218, 218, 218, 0.7);
  margin-top: 200px;
  border-radius: 20px;
  padding: 30px 30px 30px 117px;
}
